/tesseract-ocr-languages-afr.instrset_common_1487954224.xml
/tesseract-ocr-languages-afr.instrset_common_1487954224.zip
/tesseract-ocr-languages-ara.instrset_common_1487954228.xml
/tesseract-ocr-languages-ara.instrset_common_1487954228.zip
/tesseract-ocr-languages-aze.instrset_common_1487954227.xml
/tesseract-ocr-languages-aze.instrset_common_1487954227.zip
/tesseract-ocr-languages-bel.instrset_common_1487954227.xml
/tesseract-ocr-languages-bel.instrset_common_1487954227.zip
/tesseract-ocr-languages-ben.instrset_common_1487954225.xml
/tesseract-ocr-languages-ben.instrset_common_1487954225.zip
/tesseract-ocr-languages-bul.instrset_common_1487954228.xml
/tesseract-ocr-languages-bul.instrset_common_1487954228.zip
/tesseract-ocr-languages-cat.instrset_common_1487954228.xml
/tesseract-ocr-languages-cat.instrset_common_1487954228.zip
/tesseract-ocr-languages-ces.instrset_common_1487954227.xml
/tesseract-ocr-languages-ces.instrset_common_1487954227.zip
/tesseract-ocr-languages-chi_sim.instrset_common_1487954226.xml
/tesseract-ocr-languages-chi_sim.instrset_common_1487954226.zip
/tesseract-ocr-languages-chi_tra.instrset_common_1487954227.xml
/tesseract-ocr-languages-chi_tra.instrset_common_1487954227.zip
/tesseract-ocr-languages-chr.instrset_common_1487954228.xml
/tesseract-ocr-languages-chr.instrset_common_1487954228.zip
/tesseract-ocr-languages-dan.instrset_common_1487954226.xml
/tesseract-ocr-languages-dan.instrset_common_1487954226.zip
/tesseract-ocr-languages-deu.instrset_common_1487954227.xml
/tesseract-ocr-languages-deu.instrset_common_1487954227.zip
/tesseract-ocr-languages-ell.instrset_common_1487954227.xml
/tesseract-ocr-languages-ell.instrset_common_1487954227.zip
/tesseract-ocr-languages-eng.instrset_common_1487954228.xml
/tesseract-ocr-languages-eng.instrset_common_1487954228.zip
/tesseract-ocr-languages-enm.instrset_common_1487954227.xml
/tesseract-ocr-languages-enm.instrset_common_1487954227.zip
/tesseract-ocr-languages-epo.instrset_common_1487954228.xml
/tesseract-ocr-languages-epo.instrset_common_1487954228.zip
/tesseract-ocr-languages-epo_alt.instrset_common_1487954227.xml
/tesseract-ocr-languages-epo_alt.instrset_common_1487954227.zip
/tesseract-ocr-languages-equ.instrset_common_1487954226.xml
/tesseract-ocr-languages-equ.instrset_common_1487954226.zip
/tesseract-ocr-languages-est.instrset_common_1487954228.xml
/tesseract-ocr-languages-est.instrset_common_1487954228.zip
/tesseract-ocr-languages-eus.instrset_common_1487954227.xml
/tesseract-ocr-languages-eus.instrset_common_1487954227.zip
/tesseract-ocr-languages-fin.instrset_common_1487954226.xml
/tesseract-ocr-languages-fin.instrset_common_1487954226.zip
/tesseract-ocr-languages-fra.instrset_common_1487954226.xml
/tesseract-ocr-languages-fra.instrset_common_1487954226.zip
/tesseract-ocr-languages-frk.instrset_common_1487954224.xml
/tesseract-ocr-languages-frk.instrset_common_1487954224.zip
/tesseract-ocr-languages-frm.instrset_common_1487954226.xml
/tesseract-ocr-languages-frm.instrset_common_1487954226.zip
/tesseract-ocr-languages-glg.instrset_common_1487954225.xml
/tesseract-ocr-languages-glg.instrset_common_1487954225.zip
/tesseract-ocr-languages-grc.instrset_common_1487954227.xml
/tesseract-ocr-languages-grc.instrset_common_1487954227.zip
/tesseract-ocr-languages-heb.instrset_common_1487954226.xml
/tesseract-ocr-languages-heb.instrset_common_1487954226.zip
/tesseract-ocr-languages-hin.instrset_common_1487954225.xml
/tesseract-ocr-languages-hin.instrset_common_1487954225.zip
/tesseract-ocr-languages-hrv.instrset_common_1487954228.xml
/tesseract-ocr-languages-hrv.instrset_common_1487954228.zip
/tesseract-ocr-languages-hun.instrset_common_1487954228.xml
/tesseract-ocr-languages-hun.instrset_common_1487954228.zip
/tesseract-ocr-languages-ind.instrset_common_1487954227.xml
/tesseract-ocr-languages-ind.instrset_common_1487954227.zip
/tesseract-ocr-languages-isl.instrset_common_1487954225.xml
/tesseract-ocr-languages-isl.instrset_common_1487954225.zip
/tesseract-ocr-languages-ita.instrset_common_1487954226.xml
/tesseract-ocr-languages-ita.instrset_common_1487954226.zip
/tesseract-ocr-languages-ita_old.instrset_common_1487954224.xml
/tesseract-ocr-languages-ita_old.instrset_common_1487954224.zip
/tesseract-ocr-languages-jpn.instrset_common_1487954227.xml
/tesseract-ocr-languages-jpn.instrset_common_1487954227.zip
/tesseract-ocr-languages-kan.instrset_common_1487954225.xml
/tesseract-ocr-languages-kan.instrset_common_1487954225.zip
/tesseract-ocr-languages-kor.instrset_common_1487954227.xml
/tesseract-ocr-languages-kor.instrset_common_1487954227.zip
/tesseract-ocr-languages-lav.instrset_common_1487954227.xml
/tesseract-ocr-languages-lav.instrset_common_1487954227.zip
/tesseract-ocr-languages-lit.instrset_common_1487954228.xml
/tesseract-ocr-languages-lit.instrset_common_1487954228.zip
/tesseract-ocr-languages-mal.instrset_common_1487954226.xml
/tesseract-ocr-languages-mal.instrset_common_1487954226.zip
/tesseract-ocr-languages-mkd.instrset_common_1487954228.xml
/tesseract-ocr-languages-mkd.instrset_common_1487954228.zip
/tesseract-ocr-languages-mlt.instrset_common_1487954226.xml
/tesseract-ocr-languages-mlt.instrset_common_1487954226.zip
/tesseract-ocr-languages-msa.instrset_common_1487954228.xml
/tesseract-ocr-languages-msa.instrset_common_1487954228.zip
/tesseract-ocr-languages-nld.instrset_common_1487954227.xml
/tesseract-ocr-languages-nld.instrset_common_1487954227.zip
/tesseract-ocr-languages-nor.instrset_common_1487954224.xml
/tesseract-ocr-languages-nor.instrset_common_1487954224.zip
/tesseract-ocr-languages-pol.instrset_common_1487954228.xml
/tesseract-ocr-languages-pol.instrset_common_1487954228.zip
/tesseract-ocr-languages-por.instrset_common_1487954226.xml
/tesseract-ocr-languages-por.instrset_common_1487954226.zip
/tesseract-ocr-languages-ron.instrset_common_1487954227.xml
/tesseract-ocr-languages-ron.instrset_common_1487954227.zip
/tesseract-ocr-languages-rus.instrset_common_1487954225.xml
/tesseract-ocr-languages-rus.instrset_common_1487954225.zip
/tesseract-ocr-languages-slk.instrset_common_1487954225.xml
/tesseract-ocr-languages-slk.instrset_common_1487954225.zip
/tesseract-ocr-languages-slv.instrset_common_1487954227.xml
/tesseract-ocr-languages-slv.instrset_common_1487954227.zip
/tesseract-ocr-languages-spa.instrset_common_1487954227.xml
/tesseract-ocr-languages-spa.instrset_common_1487954227.zip
/tesseract-ocr-languages-spa_old.instrset_common_1487954227.xml
/tesseract-ocr-languages-spa_old.instrset_common_1487954227.zip
/tesseract-ocr-languages-sqi.instrset_common_1487954227.xml
/tesseract-ocr-languages-sqi.instrset_common_1487954227.zip
/tesseract-ocr-languages-srp.instrset_common_1487954227.xml
/tesseract-ocr-languages-srp.instrset_common_1487954227.zip
/tesseract-ocr-languages-swa.instrset_common_1487954226.xml
/tesseract-ocr-languages-swa.instrset_common_1487954226.zip
/tesseract-ocr-languages-swe.instrset_common_1487954225.xml
/tesseract-ocr-languages-swe.instrset_common_1487954225.zip
/tesseract-ocr-languages-tam.instrset_common_1487954226.xml
/tesseract-ocr-languages-tam.instrset_common_1487954226.zip
/tesseract-ocr-languages-tel.instrset_common_1487954226.xml
/tesseract-ocr-languages-tel.instrset_common_1487954226.zip
/tesseract-ocr-languages-tgl.instrset_common_1487954227.xml
/tesseract-ocr-languages-tgl.instrset_common_1487954227.zip
/tesseract-ocr-languages-tha.instrset_common_1487954225.xml
/tesseract-ocr-languages-tha.instrset_common_1487954225.zip
/tesseract-ocr-languages-tur.instrset_common_1487954225.xml
/tesseract-ocr-languages-tur.instrset_common_1487954225.zip
/tesseract-ocr-languages-ukr.instrset_common_1487954228.xml
/tesseract-ocr-languages-ukr.instrset_common_1487954228.zip
